{% extends 'mail.html.twig' %}
{% block body %}
    <p>Password reset link</p>
    {% set url = url('auth.reset_reset', {'token': token}) %}
    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}