<button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
<button type="button" class="btn btn-primary js-modal-submit__edit">{% trans %}Save{% endtrans %}</button>