<button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
<button type="button" class="btn btn-success js-modal-submit__add">{% trans %}Save{% endtrans %}</button>