{% if status == 'wait' %}
    <span class="badge badge-secondary">{% trans %}Wait{% endtrans %}</span>
{% elseif status == 'active' %}
    <span class="badge badge-primary">{% trans %}Active{% endtrans %}</span>
{% endif %}