{% extends 'auth.html.twig' %}

{% block title %}
    {% trans %}Sign up{% endtrans %}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>{% trans %}Sign up{% endtrans %}</h1>

                        {{ form_start(form) }}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="cil-user"></i>
                                    </span>
                            </div>
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="cil-lock-locked"></i>
                                    </span>
                            </div>
                            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'|trans({}, 'app')}}) }}
                        </div>
                        <button class="btn btn-block btn-success" type="submit">{% trans %}Sign up{% endtrans %}</button>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}