main {
  & > .container {
    padding: 80px 15px 0;
  }
}

footer {
  background-color: #f5f5f5;
}

.dz-preview .dz-image {
  width: 180px !important;
  height: 180px !important;
}

footer {
  & > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.bnt_icons {
  font-size: 1.1rem;
  padding: .5rem 1rem;
  line-height: 0;
}