{% extends 'info.html.twig' %}

{% block title %}Confirm email{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <a href="{{ pathToUi }}" class="btn btn-lg btn-outline-success">Back to UI</a>
        </div>
    </div>
{% endblock %}